<!DOCTYPE html>
<head>
  {% block head %}
  {% endblock %}
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Django Delights</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu_list' %}">Menu</a></li>
                <li><a href="{% url 'recipe_list' %}">Recipe</a></li>
                <li><a href="{% url 'inventory_list' %}">Inventory</a></li>
                <li><a href="{% url 'purchase_log_list' %}">Purchase Log</a></li>
                {% if request.user.is_authenticated %}
                <li id = "logout"><a href="{% url 'logout' %}?next=/">Logout</a></li>
                {% endif %}
            </ul>
    </nav>
    </div>
    </header>
    
    
  {% block content %}
  {% endblock %}
</body>