{% extends "inventory_tracker/base.html" %}
 
{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'inventory_tracker/style.css' %}">
{% endblock %}

{% block content %}
<div class="container body-container">
    <h2>Recipe for {{ object.menu_item_name }}</h2>
    {% if recipe_req_list %}
    <table>
        <tr class="table-heading">
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th> </th>
            <th> </th>
        </tr>
        {% for req in recipe_ingredient_query %}
        <tr>
            <td>{{ req.ingredient }}</td>
            <td>{{ req.ingredient_quantity_required }}</td>
            <td>{{ req.ingredient.ingredient_unit }}</td>
            <td><a href="{% url 'recipe_update' req.id %}">Edit</a></td>
            <td><a href="{% url 'recipe_delete' req.id %}">Delete</a></td>
        </tr>
            
        {% endfor %}
    </table>
    {% else %} 
        <p> No recipe available for this menu item.</p>
    {% endif %}
<a href ="{% url 'recipe_create' %}" class="add-btn">Add Recipe Requirement</a>
</div>
{% endblock %}