{% extends "inventory_tracker/base.html" %}
 
{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'inventory_tracker/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src ="{% static 'inventory_tracker/formset.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container body-container">
    <h2>Add a new recipe</h2>
<form method="POST">
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    <div class="link-formset">
        {{ form.as_p }}
    </div>
  {% endfor %}
  <input type="submit" value="Submit"/>
</form>
</div>
<script>
$('.link-formset').formset({
    addText: 'Add Ingredient',
    deleteText: 'Remove Ingredient'
});
</script>
{% endblock %}